@font-face {
  font-family: 'nexa_script';
  src: url('../fonts/fontfabric_-_nexa_script-webfont.woff2') format('woff2'),
       url('../fonts/fontfabric_-_nexa_script-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fira_sansmedium';
  src: url('../fonts/firasans-medium-webfont.woff2') format('woff2'),
       url('../fonts/firasans-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fira_sanslight';
  src: url('../fonts/firasans-light-webfont.woff2') format('woff2'),
       url('../fonts/firasans-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'lifehackregular';
  src: url('../fonts/deartype_-_lifehack-webfont.woff2') format('woff2'),
  url('../fonts/deartype_-_lifehack-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
